/* COLORS */

.primary{
  color: #247BA0 !important;
}

.bg-primary{
  background-color: #247BA0 !important;
}

.primary-light{
  color: #247ba073 !important;
}
.bg-primary-light{
  background-color: #247ba073  !important;

}

.warning{
  color: #DA3E52 !important;
}
.bg-warning{
  background-color: #DA3E52 !important;
}

.success{
  color: #3EDA60 !important;
}
.bg-success{
  background-color: #3EDA60 !important;
}

.white{
  color: #EBEBEB !important;
}

.bg-white{
  background-color: #EBEBEB !important;
}

.black{
  color: #141414 !important;
}
.bg-black{
  color:#141414;
}

.grey{
  color:#50514F !important;
}
.bg-grey{
  background-color: #50514F !important;
}

/* fonts */
.brandFont{
  font-family: "Titan One", serif;
  font-weight: normal;
  
}

.headingFont{
  font-family: 'Roboto ', sans-serif;

}

.bodyFont{
  font-family: "Quicksand", serif;


}